*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{

background:#050816;
color:white;
line-height:1.6;

}


header{

position:fixed;
top:0;
width:100%;
background:rgba(0,0,0,.6);
backdrop-filter:blur(10px);
z-index:100;

}


nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;

}


.logo{

font-size:30px;
font-weight:bold;
color:#00ff99;

}


nav ul{

display:flex;
gap:25px;
list-style:none;

}


nav a{

color:white;
text-decoration:none;

}


nav a:hover{

color:#00ff99;

}




.hero{

height:100vh;
display:flex;
align-items:center;
justify-content:space-around;
padding:100px 8%;

background:

radial-gradient(circle,#0066ff55,transparent),
radial-gradient(circle,#00ff9955,transparent);

}



.hero h1{

font-size:90px;
color:#00ff99;

}


.hero h2{

font-size:35px;

}



.hero p{

max-width:600px;
font-size:18px;

}



.dna{

font-size:200px;

}



button{

padding:15px 35px;
margin-top:20px;
border-radius:30px;
border:none;
background:#00ff99;
cursor:pointer;
font-weight:bold;

}



section{

padding:100px 8%;
text-align:center;

}



.content{

max-width:900px;
margin:auto;
font-size:20px;

}



.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;

}



.cards div,
.box{

background:#111936;
padding:30px;
border-radius:25px;
cursor:pointer;
transition:.3s;

}



.cards div:hover,
.box:hover{

transform:translateY(-10px);
border:1px solid #00ff99;

}




.page{

padding-top:150px;

}



.page h1{

font-size:60px;
color:#00ff99;

}



.list{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;

}



footer{

background:#02030a;
padding:40px;
text-align:center;

}



@media(max-width:900px){

.cards,
.list{

grid-template-columns:1fr;

}


.hero{

flex-direction:column;

}

}
.ai-box{

max-width:700px;

margin:auto;

background:#111936;

padding:40px;

border-radius:30px;

border:1px solid #00ff99;

}


#chat{

height:350px;

overflow:auto;

text-align:left;

}


.bot{

background:#063970;

padding:15px;

margin:15px;

border-radius:15px;

}


.student{

background:#006644;

padding:15px;

margin:15px;

border-radius:15px;

}


input{

width:70%;

padding:15px;

border-radius:20px;

border:none;

}
